client/*.mar
client/*.txt
client/*.json
client/marioTestJson/
client/TPssh
client/TPS2_exo5
client/id_rsa_marionnet
client/examMario
client/script
server/log
server/*.txt
server/*.json
server/site/include/phpCAS-1.3.6/
